body {
    margin: 0px auto;
    background-color: black;
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center top;
    width: 100%;
    font-size: 2em;
    color: black;
    -webkit-text-fill-color: #a78eb8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #644b77;
}

h1,
h2 {
    position: fixed;
    bottom: 30px;
    margin: 0px auto;
    left: 70%;
    transform: translate(-70%, 0) rotate(-7deg);
    font-family: 'Butcherman', cursive;
    font-size: 10vw;
    color: #f26321;
    -webkit-text-fill-color: #f26321;
    -webkit-text-stroke-color: #644b77;
    opacity: 0.6;
}

h2 {
    font-size: 25vw;
    bottom: 2vh;
    font-family: 'Creepster', cursive;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-fill-color: white;
    opacity: 1;
}

#top {
    position: fixed;
    width: 250px;
    right: 5%;
    top: 10px;
}

.titles {
    -webkit-text-fill-color: white;
    font-family: 'Condiment', cursive;
}

#shown,
#lettersGuessed,
#guesses,
#wins {
    font-size: 1.25em;
    line-height: 1.5em;
}

#lettersGuessed {
    -webkit-text-stroke-color: white;
}

div#game {
    font-family: 'Creepster', cursive;
    text-align: center;
    position: relative;
    right: 18vw;
    height: 400px;
    margin: 30px auto;
    width: 220px;
}

img#header {
    height: 25vw;
    width: auto;
    position: absolute;
    top: 15vw;
    left: 46vw;
    z-index: -1;
    overflow: hidden;
}